@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$green: #8FD5A6;
$hoverGreen: #5fad79;
$black: #1C211D;
$grey: #ebece5;
$white: #f6f6f6;
$darkGreen: #01442F;

$montserrat: 'Montserrat';
$open: 'Open sans';